@{
    ViewData["Title"] = "About";
}


@{
    var name = "Nicole Milmine";
    var studentId = "101462077";
    var courseCode = "Comp2139 - asp.net mvc";
}

<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
    </head>

    <body>
        <h1>
            Welcome to my page
        </h1>
        <p>Name: @name</p>
        <p>Student ID: @studentId</p>
        <p>Course: @courseCode</p>
    </body>
</html>